[submodule "vendor/oberon-risc-hardcaml"]
	path = vendor/oberon-risc-hardcaml
	url = https://github.com/zxygentoo/oberon-risc-hardcaml.git
[submodule "vendor/doomgeneric"]
	path = vendor/doomgeneric
	url = https://github.com/ozkl/doomgeneric
	ignore = dirty
